[{setup, [{data_dir, "/var/lib/ergw"},
	  {log_dir,  "/var/log/gtp-u-node"}				%% NOTE: lager is not using this
	 ]},

 {gtp_u_kmod, [
	       {sockets, [{'grx', [{ip, {127,0,0,1}},
				   %% {ip, {0, 0, 0, 0, 0, 0, 0, 1}},
				   {netdev, "grx"},
				   freebind,
				   %% {netns, "/var/run/netns/grx"},
				   {vrf, [{netdev, "upstream"},
					  {routes, [{{10, 180, 0, 0}, 16}]}
					 ]}
				  ]}
			 ]}
	      ]},

 {lager, [
	  {log_root, "/var/log/gtp-u-node"},
	  {error_logger_redirect, true},
	  {crash_log, "crash.log"},
	  {colored, true},
	  {handlers, [
		      {lager_console_backend, [{level, info}]},
		      {lager_file_backend, [{file, "error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "console.log"}, {level, info}]}
		     ]}
	 ]}
].
