[{gtp_u_kmod,
  [{sockets, [{'grx-1', [{ip, {172,20,16,89}},
			 %% {ip,  {0,0,0,0}},
			 %% {ip,  {1,1,1,1}},
			 {netdev, "grx"},
			 freebind,
			 {netns, "/var/run/netns/grx"}
			]}
	     ]}
   {vrfs, [{'apn-1', [{routes, [{{10, 180, 0, 0}, 16}]},
		      {netdev, "upstream"}
		      {netns, "/var/run/netns/upstream"}
		     ]}
	  ]}
  ]},

 {lager, [
	  {colored, true},
	  {error_logger_redirect, true},
	  {crash_log, "log/crash.log"}
	  {handlers, [
		      {lager_console_backend, debug},
		      {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
		     ]}
	 ]}
].
